asn1crypto==1.4.0
cffi==1.14.3
coverage==4.5.4
cryptography==3.3.2
enum34==1.1.10
idna==2.5
ipaddress==1.0.23
junit-xml==1.9
packaging==16.8
pycparser==2.18
pyparsing==2.4.7
resolvelib==0.5.4
six==1.15.0
